#imgs {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    img {
        height: 90px;
    }
}

#imgs>input[type='radio'] {
    width: 1px;
    height: 1px;
    border: 0;
    margin: 0;
    padding: 0;
}

#imgs>input[type='radio']:checked+label {
    border-color: gold;
    opacity: 1;
}

#imgs>label {
    &:hover {
        opacity: .9;
    }
    cursor: pointer;
    opacity: .7;
    display: flex;
    justify-content: center;
    width: 90px;
    height: 90px;
    overflow: hidden;
    border: solid 3px white;
}

#get-link {
    margin-top: 2em;
}

#share[href='']{
    display: none;
}