#imgs {
    display: flex;
    flex-wrap: wrap;
}

#imgs>input[type='radio'] {
    display: none;
}

#imgs>input[type='radio']:checked+label {
    border-color: gold;
    opacity: 1;
}

#imgs>label {
    &:hover {
        opacity: .9;
    }
    cursor: pointer;
    opacity: .7;
    display: block;
    width: 90px;
    height: 90px;
    overflow: hidden;
    border: solid 3px white;
}

